body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 ! important;
}


.Img-1 {
    background-image: url('Assets/Los_Private_Dining_Img/Top_Img.webp');
    background-position: 50% 0%;
    background-attachment: fixed;
    height: 220px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: fixed;
    background-size: contain;
}

.Img-Word {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 60px;
    left: 80px;
    font-size: 600%;
}

.box {
    border: 2px solid black;
    height: 1400px;
    width: 76%;
    position: relative;
    top: 60px;
    left: 186px;
    box-shadow: 0 0 18px;
    border: none;
    background-color: white;
}

.Top-Heading {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 26px;
    left: 40px;
    color: brown;
    font-weight: 500;
    font-size: 220%;
}

.Line {
    position: relative;
    top: 34px;
}

.Top-Para {
    position: relative;
    top: 40px;
    left: 44px;
    font-family: 'Times New Roman', Times, serif;
}

.Box-Contact {
    position: relative;
    top: 50px;
    font-family: 'Times New Roman', Times, serif;
    left: 44px;
    font-size: 180%;
    color: brown;
}

.Letter,
.Input-Box {
    position: relative;
    left: 150px;
    top: 60px;
    padding: 16px;
    text-align: center;
}

.Input-Box {
    position: relative;
    height: 32px;
    margin-left: 190px;
    width: 270px;
}

.Letter {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;

}

#Mail-1 {
    position: relative;
    margin-left: 154px;
}

#Num-1 {
    margin-left: 152px;
}

.Med-Para {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    position: relative;
    top: 80px;
    left: 40px;
}


.Event {
    position: relative;
    top: 90px;
    font-family: 'Times New Roman', Times, serif;
    left: 40px;
    color: brown;
    font-size: 160%;

}


#Letter-11,
#Event-Menu {
    position: relative;
    top: 80px;
}

#Nature {
    position: relative;
    top: 90px;
    right: 50px;
}

#Nature-1 {
    position: relative;
    top: 80px;
    height: 80px;
    width: 60%;
    margin-left: 20px;
}

#Date-1 {
    position: relative;
    top: 100px;
    margin-right: 90%;
}

#Date-2 {
    left: 250px;
    position: relative;
    height: 40px;
    width: 270px;
}

#Time-2 {
    height: 30px;
    width: 270px;
    top: 70px;
    left: 12%;
}

#Event-Menu {
    position: relative;
    margin-right: 60px;
    color: black;
}

#Time-22 {
    width: 270px;
    position: relative;
    left: 146px;
}

#Count {
    position: relative;
    width: 270px;
    left: 84px;
}


#Last-2 {
    height: 80px;
    position: relative;
    margin-left: 20px;
    width: 60%;
}

#Submit {
    height: 40px;
    width: 120px;
    text-align: center;
    padding: 0px;
    top: 120px;
    margin-left: 21px;
    background-color: brown;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    border-radius: 0px;
    color: white;
}

#Submit:hover {
    background-color: rgb(222, 160, 160);
    color: white;
}

#Foot_1 {
    position: relative;
    top: 60px;
    margin-right: 20%;
}

#Selection {
    position: relative;
    top: 65px;
    left: 170px;
    height: 36px;
    width: 240px;
}

#Company {
    position: relative;
    margin-left: 194px;
}


#Box-1 {
    margin-left: 187px;
}

#Box-2 {
    margin-left: 187px;
}

.section-Ten {
    background-color: whitesmoke;
    height: 1730px;
}

@media (max-width: 576px) {
    .Img-Word {
        font-size: 280%;
        top: 10px;
        left: 130px;
    }


    .Img-1{
        height: 90px;
    }

    .box {
        width: 90%;
        left: 5%;
        height: auto;
        padding: 20px;
        position: relative;
    }

    .Top-Para{
        position: relative;
        font-size: 90%;
        left: 14px;
    }

    .Top-Heading, .Box-Contact, .Med-Para, .Event {
        font-size: 150%;
        text-align: center;
        left: 0;
        position: relative;
    }

    .Letter {
        left: 0;
        display: block;
        text-align: left;
        margin-bottom: 4px;
        font-size: 14px;
    }

    .Input-Box {
        width: 100%;
        height: 40px;
        margin-left: 0;
        text-align: left;
        padding-left: 10px;
        position: relative;
        left: -2px;
    }


    #Mail-1, #Num-1, #Company, #Box-1, #Box-2 {
        margin-left: 0;
        position: relative;
    }

    #Nature-1, #Last-2 {
        width: 100%;
        height: 60px;
        position: relative;
        left: -20px;
    }

    #Date-2, #Time-2, #Time-22, #Count, #Selection {
        width: 50%;
    }

    #Submit {
        width: 100%;
        margin-left: 0;
    }

    #Selection {
        left: 0;
    }

    .Line {
        width: 100%;
    }

    #Date-2{
        position: relative;
        left: 100px;
    }

    #Time-2,#Time-22{
        position: relative;
        left: 100px;
    }

    #Count{
        position: relative;
        left: 100px;
    }

    #Foot_1{
        position: relative;
        left: 0;
        top: -70px;
    }

    #Last-2{
        position: relative;
        left:-10;
        margin-bottom: 140px;
    }

    #Selection{
        position: relative;
        left: 100px;
        top: -90px;
    }

    #Submit{
        position: relative;
        top: -30px;
        width: 70%;
        left: 58px;
    }
}
